<div class="container">
  <% erb :"_errors", locals: {errors: @errors} %>


  <form action="/sessions" class = "forms" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="user[username]"/>
    <br>
    <hr>
    <label for="password">Password:</label>
    <input type="password" name="user[password]"/>
    <hr>
    <input type="submit" class="button" value="Login"/>
  </form>

</div>

