<div class="container">

<% erb :"_errors", locals: {errors: @errors} %>

  <form action="/sessions" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="user[username]"/>
    <label for="password">Password:</label>
    <input type="password" name="user[password]"/>
    <input type="submit" value="Login"/>
  </form>

</div>
