
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;

}

header {
    margin-left: 100px;
}
body  {
    background-image: url("http://img.wallpaperfolder.com/f/536CEEF84988/monty-python-dump-album.jpg");
    background-color: #cccccc;
}

h1 {
    color: white;
}

.forms {
    color: white;
}
.formfield {
    color: black;
}

.button {
    background-color: black;
}

