
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-left: 3px;
}

.decks {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/

}

header {
    margin-left: 100px;
}
body  {
    background-image: url("http://img.wallpaperfolder.com/f/536CEEF84988/monty-python-dump-album.jpg");
    background-color: #cccccc;
}

h1, h2, h3, p {
    color: white;
}

.u {
    color: white;
}

.forms {
    color: white;
}
.formfield {
    color: black;
}

.button {
    background-color: black;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: grey;
}

#logout {
     background:none;
     border:none;
     padding:0;
     font: inherit;
     color: white;
     /*border is optional*/
     margin-top:11px;
     cursor: pointer;
     padding: 3px;
}

#logout:hover{
    background-color: black;
}

.submit {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submit:hover {
    background-color: grey;
}
