<h2>The deck is no more. It has ceased to be!</h2>
<ul>
<li>You got <%= @round.first_try %> out of <%= @round.deck.cards.count %> correct on the first try.</li>
<li></li>
</ul>
<br>
<br>
<img src="http://1.bp.blogspot.com/-HTnsL-WW0f8/Vane-BFRDpI/AAAAAAAACzw/1_IBi0mOfh0/s640/Now%2Bgo%2Baway%2Br%2BI%2Bshall%2Btaunt%2Byou%2Ba%2Bsecond%2Btime%2B2.gif">
<br>
<br>
<button><a href="/decks">Every deck is sacred...</a></button>

