<div class="container">
  <%= erb :"_errors", locals: {errors: @errors} %>

  <form action="/users" class="forms" method="POST">
    <label for="name">Name</label><br>
    <input class="formfield" type="text" name="user[name]" placeholder="name"><hr>
    <label for="email">Email</label><br>
    <input class="formfield" type="text" name="user[email]" placeholder="email@domain.com"><hr>
    <label for="username">Username</label><br>
    <input class="formfield" type="text" name="user[username]" placeholder="username"><hr>
    <label for="password">Password</label><br>
    <input class="formfield" type="password" name="user[password]" placeholder="password"><hr>
    <input type="submit" class="button" value="Register">
  </form>

</div>
