<u class = "u"><h1> <%= @deck.topic %> </h1></u>

<h3>Question:</h3>

<p><%= @card.question %></p>

<form action="/decks/<%= @deck.id %>/cards/<%= @card.id %>" method="post">
  <label for="answer">Answer:</label>
  <input type="text" name="answer" placeholder="Answer"><br>
  <br>
  <input type="submit" class="submit" value="If your answer is a coconut, will the swallow carry it?">
</form>
