<h2>WRONG! Your swallow is weak..........</h1>
<p>The correct answer is:</p>
<p><%= @answer %></p>
<img src="http://i.imgur.com/lnmthWW.gif">
<br>
<br>
<a href="/deck/fail">Tis but a flesh wound, take me to the next question</a>
