<h2>WRONG! Your swallow is weak..........</h2>
<p>The correct answer is:</p>
<p><%= @answer %></p>
<img src="http://i.imgur.com/lnmthWW.gif">
<br>
<br>
<a href="/decks/<%= @deck.id %>/cards/<%= @next_card.id %>">Tis but a flesh wound, take me to the next question</a>
