
  <h1>Flashcard Trivia!</h1>

  <ul class="decks">
  <% @decks.each do |deck| %>
    <li><a href="decks/<%= deck.id %>/cards/<%= deck.cards.sample.id %>"><%= deck.topic %></a></li>
  <% end %>
  </ul>


