<h2>CORRECT! Always look on the bright side of life....</h2>
<img src="http://imoviequotes.com/wp-content/uploads/2014/10/902-Monty-Python-and-the-Holy-Grail-quotes.gif">
<br>
<br>
<button>
  <a href="/decks/<%= @deck.id %>/cards/<%= @next_card.id %>">We demand a shrubbery, take me to the next question</a>
</button>